* {
    color: #f9f9f9;
    font-family: Comfortaa;
    margin: auto;
    max-width: 644px;
    text-decoration: none;
}

body {
    background-color: #000000;
}

::-webkit-scrollbar {
    display: none;
}

.me, .tabs {
    text-align: center;
}

.logo {
    height: 256px;
    margin-bottom: -36px;
    margin-top: -6px;
    width: auto;
}

.link {
    height: 32px;
    margin: 6px 1px 0 1px;
    width: 32px;
}

button {
    background-color: #212121;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    outline: 3px solid #FFA500;
}

button:active {
    outline: none;
}

.hidden_by_default {
    display: none;
}

.frame {
    border-radius: 9px;
    border: 3px solid #212121;
    margin: 9px 0 9px 0;
}

.title {
    background-color: #212121;
    display: flex;
    padding: 0 3px 3px 3px;
}

.ico {
    height: 24px;
    width: 24px;
}

.name {
    font-size: 21.6px;
    flex-grow: 1;
    margin: 0 3px 0 6px;
}

.inframe {
    margin: 6px 3px 3px 6px;
}

input {
    background-color: #212121;
    border-radius: 6px;
}

code {
    color: #FFA500;
    user-select: all;
    word-break: break-all;
}
