* {
    background-color: #1a1a1a;
    color: #f9f9f9;
    font-family: Comfortaa;
    margin: auto;
    max-width: 512px;
    padding: 2px;
    text-decoration: none;
}

.me {
    text-align: center;
}

.logo {
    height: 256px;
    margin-bottom: -32px;
    margin-top: -16px;
}

.frame {
    border-radius: 10px;
    border: 2px solid;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 2px 5px 2px 5px;
}

.title {
    background-color: #212121;
    border: 2px solid #212121;
    border-radius: 8px;
    display: flex;
    margin: -2px -5px 6px -5px;
}

.ico {
    background-color: #212121;
    height: 25px;
}

.name {
    background-color: #212121;
    font-size: 22.6px;
    flex-grow: 1;
}

.btn {
    border: 2px solid;
    border-radius: 10px;
    font-size: larger;
    padding: 2px 5px 2px 5px;
    background-color: #212121;
}

p {
    line-height: 1.5;
}

code {
    background-color: #212121;
    border: 0px solid;
    border-radius: 5px;
    color: #bbbb11;
}