:root {
    color-scheme: light dark;
}

* {
    color: light-dark(#3c3836, #f8f8f2);
    font-family: Comfortaa;
    margin: auto;
    max-width: 644px;
    text-decoration: none;
}

body {
    background-color: light-dark(#ffffff, #282a36);
}

::-webkit-scrollbar {
    display: none;
}

.me, .tabs {
    text-align: center;
}

.logo {
    height: 256px;
    margin-bottom: -36px;
    margin-top: -6px;
    width: 256px;
}

.link {
    height: 32px;
    margin: 6px 1px 0 1px;
    width: 32px;
}

button {
    background-color: light-dark(#f2e5bc, #44475a);
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    outline: 3px solid light-dark(#3c3836, #bd93f9);
}

button:active {
    outline: none;
}

.hidden_by_default {
    display: none;
}

.frame {
    border: 3px solid light-dark(#f2e5bc, #44475a);
    border-radius: 9px;
    margin: 9px 0 9px 0;
}

.title {
    background-color: light-dark(#f2e5bc, #44475a);
    display: flex;
    padding: 0 3px 3px 3px;
}

.ico {
    height: 24px;
    width: 24px;
}

.name {
    font-size: 21.6px;
    flex-grow: 1;
    margin: 0 3px 0 6px;
}

.inframe {
    margin: 6px 3px 3px 6px;
}

input {
    background-color: light-dark(#f2e5bc, #44475a);
    border-radius: 6px;
}

code {
    color: light-dark(#3c3836, #bd93f9);
    user-select: all;
    word-break: break-all;
    -webkit-user-select: all;
}

@media (prefers-color-scheme: light) {
    .logo {
        filter: invert(18%) sepia(8%) saturate(482%) hue-rotate(336deg) brightness(94%) contrast(85%);
    }

    .link {
        filter: invert(18%) sepia(8%) saturate(482%) hue-rotate(336deg) brightness(94%) contrast(85%);
    }

    .ico {
        filter: invert(18%) sepia(8%) saturate(482%) hue-rotate(336deg) brightness(94%) contrast(85%);
    }
}

@media (prefers-color-scheme: dark) {
    .logo {
        filter: invert(92%) sepia(7%) saturate(748%) hue-rotate(321deg) brightness(113%) contrast(95%);
    }

    .link {
        filter: invert(92%) sepia(7%) saturate(748%) hue-rotate(321deg) brightness(113%) contrast(95%);
    }

    .ico {
        filter: invert(92%) sepia(7%) saturate(748%) hue-rotate(321deg) brightness(113%) contrast(95%);
    }
}